*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat; 
  
  }
  ::selection{
    color: #fff;
    background: #3C87FF;
  }
  /* main container  */
  .container{
    width: 60vw;
    min-height: 55vh;
    padding: 28px 10px;
    margin: 1rem auto;
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  /* title tag  */
  .container h1{
    font-size: 2.7rem;
    padding: 0.6rem 0 2.5rem;
    text-align: center;
    text-decoration: underline 2px gray;
    text-shadow: 2px 1px 1px rgb(67, 67, 255);
  }
  /* text area  */
  .input-area{
    height: 5.5rem;
    width: 100%;
    position: relative;
  }
  .input-area i{
    font-size: 2rem;
    position: absolute;
    top: 29px;
    left: 22px;
  }
  /* input field */
  .input-area input{
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 20px 0 65px;
    border: 1px solid #999;
    font-size: 1.5rem;
  }
  /* complete clear */
  .complete-clear{
    height: 10vh;
    width: 100%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;
  }
  /* buttons  */
  .complete-clear>button{
    border: none;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
    font-size: 1.7rem;
  }
  
  .filters span{
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
    font-size: 1.7rem;
  }
  .filters span.active{
    color: #3C87FF;
  }
  .clear-btn.active{
    opacity: 0.8;
    pointer-events: auto;
  }
  /* task-box  starts */
  .task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
    border-bottom: 1px solid gray;
    max-height: 38vh;
    overflow: scroll;
  }
  .task-box span{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: red;
  }
  .task-box.overflow{
    overflow-y: auto;
    max-height: 300px;
  }
  .task-box::-webkit-scrollbar{
    width: 5px;
  }
  .task-box .task{
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    color: black;
  }
  .task-box .task label{
    display: flex;
    align-items: flex-start;
  }
  .task label input{
    height: 1.1rem;
    width: 1.1rem;
    margin-top: 12px;
    accent-color: #3C87FF;
  }
  .task label p{
    margin-left: 12px;
    font-size: 1.9rem;
    word-wrap: break-word;
  }
  .task label p.checked{
    text-decoration: line-through;
  }
  /* task list menu  */
  .task-menu li{
    height: 25px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
  }
  /* trash box delete a perticular task   */
  #trash-Box{
    color: red;
    padding-right: 25px;
    font-size: 1.9rem;
  }
  /* tasks box ends  */
  
  /* total tasks left  */
  #taskAvail p{
    font-size: 1.6rem;
  }
  /* list styles */
  .controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* controls -all pending completed */
  .controls{
    padding: 12px 25px;
    border-bottom: 1px solid #ccc;
  }
  /* credit to bhupender */
  .credit{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    /* border: 1px solid red; */
  }
  .credit img{
    height: 25px;
    width: 25px;
    margin-left: 5px;
  }
  @media (max-width: 500px) {
    /* main container  */
    .container{
      width: 90vw;
      min-height: 55vh;
      padding: 14px 10px;
      margin: 1rem auto;
    }
    /* title tag  */
    .container h1{
      font-size: 1.9rem;
      padding: 0.1rem 0 1.5rem;
    }
    /* text area  */
    .input-area{
      height: 2.5rem;
    }
    .input-area i{
      font-size: 1.3rem;
      top: 10px;
      left: 9px;
    }
    /* input field */
    .input-area input{
      padding: 0 20px 0 40px;
      font-size: 1rem;
    }
    /* complete clear */
    .complete-clear{
      height: 10vh;
      width: 100%;
      margin: 1.7rem auto;
    }
    /* buttons  */
    .complete-clear>button{
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    
    .filters span{
      font-size: 1rem;
    }
    .task-box span{
      font-size: 1.2rem;
    }
    .task label input{
      height: 1rem;
      width: 1rem;
      margin-top: 6px;
    }
    .task label p{
      font-size: 1.3rem;
    }
    /* task list menu  */
    .task-menu li{
      height: 25px;
      margin-bottom: 2px;
      padding: 17px 15px;
    }
    /* trash box delete a perticular task   */
    #trash-Box{
      padding-right: 5px;
      font-size: 1.3rem;
    }
  .task-box {
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 20px 10px 25px;
      border-bottom: 1px solid gray;
      max-height: 30vh;
      overflow: scroll;
  }
    /* tasks box ends  */
    
    /* total tasks left  */
    #taskAvail p{
      font-size: 1.1rem;
    }
    /* controls -all pending completed */
    .controls{
      padding: 10px 5px;
    }
    /* credit to bhupender */
    .credit img{
      height: 20px;
      width: 20px;
    }
  }